@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}